
@keyframes leftHero{
    from{
      transform: translateX(-5%);
      opacity: 0%;
    }
    to{
      transform: translateX(0);
      opacity: 100%;
    }
  }
  @keyframes wholeBlock{
    from{
      transform: translateY(10%);
      opacity: 0%;
    }
    to{
      transform: translateY(0);
      opacity: 100%;
    }
  }

.dashboard{
    width: 100%;
    background-color: rgb(221, 241, 250);
    height: 100%;
    z-index: -10;
}
.top_wrapper{
  z-index: 1;
  height: 75.6vh;
  position: absolute;
  color: black;
}
.intro{
    padding-top: 8%;
    padding-left: 10%;
    padding-bottom: 3px;
    animation: leftHero 1s ease-in .2s 1 normal both;
    z-index: 3;
}
.intro h1{
    font-weight: 700;
    font-size: 70px;
    color: rgb(85, 85, 85);
}
.intro p{
    font-weight: 500;
    font-size: 20px;
    color: rgb(143, 143, 143);
}
.wholeBlock{
  z-index: 3;
    animation: wholeBlock 1s ease-in .2s 1 normal both;
}